
html, body {
    font-family: "Karantina", system-ui;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;
    color: rgb(0, 0, 0);
    background-image: url(orangeBackground.jpg);
    background-size: 100% 100%;
    overflow: auto;
}

.heading{
 text-align: center;
 font-size: 8vh;
 background-size: 100% 100%;
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-top: 40vw;
    font-size: 13vw;
    height: 15vw;
    width: 100vw;
    padding-top: 8vw;
    min-height: 11vw;
    max-height: 11vw;
    position: relative;
}

.full-screen {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100vw;
}
/* CSS classes for positioning and sizing images */
.top-right {
    position: absolute;
    top: 3vh;
    right: 3vw;
    width: 20%; /* 20% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    max-width: 100vw; /* Maximum width of 100% of the viewport width */
    max-height: 50vh; /* Maximum height of 50% of the viewport height */
}

.top-left {
    position: absolute;
    top: 3vh;
    left: 3vw;
    width: 20%; /* 20% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    max-width: 100vw; /* Maximum width of 100% of the viewport width */
    max-height: 50vh; /* Maximum height of 50% of the viewport height */
}

.hand {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 11vh;
    max-width: 30%; /* Ensure image doesn't exceed viewport width */
    max-height: 20vh; /* Ensure image doesn't exceed 80% of the viewport height */
}
.hand-text {

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 9vh;
    font-size: 5vw;
}


@keyframes ani {
    0%   {  top:0vh;}
    50%  {  top:50vh;}
    100% { top:-100vh;}
  }

  .lesson-menu{
   visibility: hidden;
  }

.title1 {
    text-align: center;
    margin-top: -2vw;
    position: relative;
    width: 80%;
    height: 15vh;
    max-width: 100vw;
    max-height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: 2vw;
}

  .title {
    text-align: center;
    margin-top: -2vw;
    position: relative;
    width: 80%;
    height: 28vh;
    max-width: 100vw;
    max-height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;

}